  <!--Card content-->
  <div class="card-body">
    <!--Title-->
    <img src="assets/pauwel.png" width="600" height="145" class="pauwel">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/raRoFwZYdB8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
<!-- Card -->
    <!-- Card content -->
    <div class="card-body">
      <!-- Title -->
      <h4 class="card-title"><a>future shows</a></h4>
      <!-- Text -->
      <pre class="card-text">28/02/2019: Café Café, Hasselt
                   w. Danny Blue & The Old Socks</pre>
    </div>
  <!-- Card -->
  <!-- Card -->
      <!-- Card content -->
      
    
        <!-- Title -->
        <h4 class="past-title"><a>past shows</a></h4>
        <img src="assets/arrow-down.png" width="30" height="30" class="arrow">
        <div class="past">
        <!-- Text -->
        <pre class="card-text">10/10/2018: Cabron, Antwerpen 
                   w. Philemon</pre>

        <pre class="card-text">13/06/2018: Dok, Gent
                   w. Yuko</pre>
        
        <pre class="card-text">01/02/2018: Trix Café, Antwerpen
                   w. Lord Huron</pre>

        <pre class="card-text">26/05/2017: Concertzaal De Casino, Sint-Niklaas
                   w. Woven Hand</pre>
                   
        <pre class="card-text">11/05/2017: De Roma, Antwerpen
                   w. Pascal Deweze</pre>

        <pre class="card-text">14/04/2017: C-Mine, Genk
                   w. Maurits Pauwels</pre>
                   
        <pre class="card-text">04/04/2017: Hoxton Square Bar & Kitchen, London (uk)
                   w. Fences</pre>

        <pre class="card-text">03/04/2017: The Tube, Düsseldorf (de)
                   w. Fences</pre>

        <pre class="card-text">01/04/2017: Das Bach, Wenen (at)
                   w. Fences</pre>

        <pre class="card-text">31/03/2017: Kranhalle, München (de)
                   w. Fences</pre>

        <pre class="card-text">30/03/2017: Zoom, Frankfurt (de)
                   w. Fences</pre>

        <pre class="card-text">29/03/2017: Cassiopeia, Berlijn (de)
                   w. Fences</pre>

        <pre class="card-text">28/03/2017: Uebel & Gefaehrlich, Hamburg (de)
                   w. Fences</pre>

        <pre class="card-text">23/12/2016: Arenberg, Antwerpen
                   w. Maurits Pauwels Groep</pre>
                  
        <pre class="card-text">19/11/2016: Gebouw T, Bergen op Zoom (nl)
                   w. Admiral Freebee</pre>

        <pre class="card-text">18/11/2016: Het Depot, Leuven
                   w. Maurits Pauwels Groep</pre>
                  
        <pre class="card-text">16/10/2016: Ancienne Belgique, Brussel
                   w. Maurits Pauwels Groep</pre>

        <pre class="card-text">03/09/2016: Villa Pace, Sint-Niklaas
                   </pre>

        <pre class="card-text">23/06/2016: Dok, Gent
                   w. Woods</pre>

        <pre class="card-text">07/05/2016: Aterlier 210, Brussel
                   w. Kevin Morby</pre>

        <pre class="card-text">13/11/2014: Trix, Antwerpen
                   w. Christopher Owens (Girls)</pre>
                
        <pre class="card-text">30/11/2013: Klein Mercelis theater, Brussel
                   w. Tony Dekker (Great Lake Swimmers)</pre>
                   
        <pre class="card-text">01/08/2013: Vama Veche, Brugge
                   </pre>
                 
        <pre class="card-text">21/07/2013: Baudelo, Gentse Feesten, Gent
                   </pre>

        <pre class="card-text">17/05/2013: Vooruit, Gent
                   w. Ian McCulloch (Echo & the Bunnymen)</pre>
                 
        <pre class="card-text">12/05/2013: Paard van Troje, Den Haag (nl)
                   </pre>
                    
        <pre class="card-text">13/04/2013: Arenbergschouwburg, Antwerpen
                   w. Simon Joyner</pre>
                  
        <pre class="card-text">09/02/2013: Concertzaal De Casino, Sint-Niklaas
                   w. Love Like Birds</pre>
                   
        <pre class="card-text">23/02/2012: Trix, Antwerpen
                   w. Cloud Control</pre>
                 
        <pre class="card-text">28/01/2012: Aetherblissement, Keulen (de)
                   w. Love Like Birds</pre>
                    
        <pre class="card-text">25/09/2011: Het Steen, Antwerpen
                   w. Love Like Birds, Oscar and The Wolf</pre>
                  
        <pre class="card-text">122/07/2011: Boomtown, Handelsbeurs, Gent
                   w. Connan Mockasin, Architecture in Helsinki</pre>
 
        <pre class="card-text">07/07/2011: Mono, Oslo (no)
                   w. Wooden Wand</pre>
                  
        <pre class="card-text">07/04/2011: 4AD, Diksmuide
                   w. Grant Hart (Hüsker Dü)</pre>
                     
        <pre class="card-text">03/04/2011: Mezz, Breda (nl)
                   </pre>
                   
        <pre class="card-text">31/03/2011: Stuk, Leuven
                   w. Allo Darlin’</pre>
                   
        <pre class="card-text">12/03/2011: Rataplan, Borgerhout
                   w. Bony King of Nowhere</pre>
                    
        <pre class="card-text">29/10/2010: CC Mechelen, Mechelen
                   w. Bony King of Nowhere</pre>
                  
        <pre class="card-text">22/06/2010: Scene, Wenen (at)
                   w. Devendra Banhart</pre>
                     
        <pre class="card-text">30/06/2010: Rockefeller, Oslo (no)
                   w. Devendra Banhart</pre>
                   
        <pre class="card-text">10/02/2010: Handelsbeurs, Gent
                   w. The Veils</pre>
  
        <pre class="card-text">13/09/2009: Trix, Antwerpen
                   w. Scott Matthew</pre>
        
        <!--           
        <pre class="card-text">13/11/2014: Trix, Antwerpen
                   w. Christopher Owens (Girls)</pre>
                      
        <pre class="card-text">13/11/2014: Trix, Antwerpen
                   w. Christopher Owens (Girls)</pre>
                    
        <pre class="card-text">13/11/2014: Trix, Antwerpen
                   w. Christopher Owens (Girls)</pre>
        -->
          
      </div>
    <!-- Card -->
  <br>
  <br>
  <br>